.App {
  height: 100vh;
  text-align: center;
}

.Gallery-wrapper {
  margin: 0 18%;
}

.App-logo {
  height: 4vmin;
}

.App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: white;

  position: fixed;
  bottom: 0;
  width: 100%;
}

.tips {
  margin: 0.2vh 0;
}

.App-link {
  color: #09d3ac;
}
